<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Опис БД</title>
    <style>
        table, thead, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            text-align: left;
        }
    </style>
</head>
<body>
<H1 align="center"> Опис полів бази даних станом на {% now "SHORT_DATETIME_FORMAT" %}</H1>
{% for app in apps %}
    <h2>{{ app.app }}</h2>
    {% for data in app.data %}
        <br>
        <br>
        <table style="width:100%">
            <thead style="background: #fc0; text-align:center">
            <strong> {{ data.label }}</strong>
            </thead>
            <tr>
                <th style="width:10%"> код</th>
                <th style="width:10%"> Тип даних</th>
                <th style="width:30%"> Назва</th>
                <th style="width:5%"> Обов"язкове/За замовчуванням</th>
                <th style="width:45%"> Примітка</th>
            </tr>
            {% for field in data.fields %}
                <tr>
                    <td> {{ field.column }}</td>
                    <td> {{ field.data_type }}</td>
                    <td>  {{ field.verbose_name }}</td>
                    <td>  {{ field.required }}
                        {% if field.default %}
                            [{{ field.default }}]</td>
                        {% endif %}
                    <td> {{ field.help_text }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
{% endfor %}

<h2>** - СИСТЕМНІ ПОЛЯ</h2>
</body>
</html>